* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  height: 100%;
}
.header {
  background: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color: white;
  box-shadow: 3px 3px 10px #888;
}
.header img {
  border: 1px solid black;
  width: 60px;
}
.header input {
  border: 1px solid black;
  margin: 10px auto 0 auto;
  width: 300px;
  height: 20px;
}
.sub-header {
  width: 90%;
  margin: auto;
  background: darkred;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
  box-shadow: 3px 3px 10px #888;
}

.sub-header img {
  height: 40px;
  width: 50px;
  box-shadow: 3px 3px 10px #888;
}

.grid {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  margin-top: 5px;
  box-shadow: 3px 3px 10px #888;
}
.grid .item {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.grid .item p {
  color: red;
}

.grid .item img {
  width: 60px;
  align-self: flex-end;
}

.footer {
  margin: 26px auto 0px auto;
  padding: 10px;
  background: lightgray;
  bottom: 0;
}
.footer ul {
  display: flex;
  justify-content: space-around;
}
.footer ul li img {
  width: 40px;
}
.footer ul li {
  box-shadow: 3px 3px 10px #888;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-weight: 400;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

#splash {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: red;
  z-index: 2;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 1s;
}
#splash img {
  width: 150px;
}

#splash.fade {
  opacity: 0;
}
